<header class="header-background">
  <div class="header-section">
    <div class="header-headline">
      <h1 class="mat-display-1">Timeline</h1>
    </div>
    <div class="header-create-timeline">
      <button mat-raised-button>Nouvelle Timeline</button>
    </div>
  </div>
</header>
<div class="timeline-grid">
  <mat-grid-list cols="2" rowHeight="2:1" gutterSize="3em">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
  </mat-grid-list>
</div>